<mat-dialog-content>
  <div fxLayout="row">
    <img [src]="getImage(hero)" alt="Supers-heros">
    <h1 mat-dialog-title class="padding-1">{{ hero.name }}</h1>
  </div>
  <div mat-dialog-content class="padding-1">
    <p *ngIf="hero.description">{{ hero.description }}</p>
    <p *ngIf="!hero.description"> Pas de description trouvée</p>
    <div *ngIf="premierComic">
      <p><b>Première apparition dans le comic: {{ premierComic.title }} sorti le {{ premierComic.dates[0].date | date: 'dd/MM/yyyy' }}</b>
        <br>
        {{ premierComic.description }}
      </p>
    </div>
  
    <div *ngIf="dernierComic">
      <p><b>Dernière apparition dans le comic: {{ dernierComic.title }} sorti le {{ dernierComic.dates[0].date | date: 'dd/MM/yyyy' }}</b>
        <br>
        {{ dernierComic.description }}
      </p>
    </div>
  </div>
</mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
    <button mat-button (click)="ajouterHeros(hero)">Ajouter à l'équipe</button>
  </div>