<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{ data.texte }}</p>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput [formControl]="champNom">
    </mat-form-field>
</div>
<div mat-dialog-actions class="btn-dialog">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="champNom.value" cdkFocusInitial>Valider</button>
</div>