<mat-toolbar>
    <img [src]="logoApp"/>
  <button routerLink="/super-heros" mat-button class="btn" [ngClass]="pageActive == 1 ? 'btn__isActive' : 'btn' " (click)="setPageActive(1)">Super-Héros</button>
  <button routerLink="/equipes" mat-button class="btn" [ngClass]="pageActive == 2 ? 'btn__isActive' : 'btn' " (click)="setPageActive(2)">Mes équipes</button>
</mat-toolbar>
<router-outlet></router-outlet>