
img {
    width: 120px;
}

.btn {
    background-color: #ee171f;
    margin: .5rem;
    color: white;
}

.list {
    width: 80%;
    height: calc(100vh - 160px);
    overflow: auto;
    margin: auto;
    border: 0.5px solid rgba(0,0,0,.12);
}


.info__hero {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.info__hero h2 {
    margin-left: 15px;
}

.load__heroes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aucunHero {
    text-align: center;
}

    


