<div fxLayout="row" fxLayoutAlign="space-around center">
    <h1>Liste des Super-Héros</h1>
    <mat-form-field>
        <mat-label>Recherche</mat-label>
        <input matInput [formControl]="rechercheCtrl">
        <button  matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <button mat-flat-button class="btn" (click)="rechercherAleatoire()">Aléatoire</button>
    <div>
        <button [disabled]="pageCourante == 1" mat-icon-button (click)="changerPageInferieur()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        {{ pageCourante }}
        <button [disabled]="nbPage == pageCourante" mat-icon-button (click)="changerPageSuperieur()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
<div class="list">
    <div *ngIf="loadHeroes" class="load__heroes">
        <h3>Chargement des Super-Héros</h3>
        <mat-spinner></mat-spinner>
    </div>

    <p *ngIf=" listeHeroesParPage && listeHeroesParPage.length == 0" class="aucunHero">Aucun résultat</p>
    <div *ngFor="let hero of listeHeroesParPage">
        <div class="info__hero">
            <div fxLayout="row">
                <img [src]="getImage(hero)" />
                <h2>{{hero.name}}</h2>
            </div>
            <div fxLayout="column" class="list__actions">
                <button class="btn" mat-mini-fab matTooltip="Visualiser le détail" (click)="ouvrirDetail(hero)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button class="btn" mat-mini-fab matTooltip="Ajouter à l'équipe" (click)="ajouterHeros(hero)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>