<div class="equipe__title">
    <h1>Equipe <span *ngIf="equipe && equipe.heros.length>0">{{ equipe.nomEquipe }}</span></h1>
    <div class="equipe__actions">
        <button class="btn" mat-mini-fab matTooltip="Charger une équipe sauvegardée" (click)="chargerEquipe()">
            <mat-icon>upload</mat-icon>
        </button>
        <button *ngIf="equipe.heros.length != 0" class="btn" mat-mini-fab matTooltip="Créer une nouvelle équipe" (click)="creerEquipe()">
            <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="equipe.heros.length != 0" class="btn" mat-mini-fab matTooltip="Sauvegarder l'équipe" (click)="sauvegarderEquipe()">
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="equipe.heros.length != 0" class="btn" mat-mini-fab matTooltip="Supprimer l'équipe" (click)="supprimerEquipe()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
<p *ngIf="equipe.heros.length == 0" style="text-align: center;">Vous n'avez aucune équipe</p>
<div *ngIf="equipe.heros.length != 0" class="list">
    <div *ngFor="let hero of equipe.heros">
        <div class="info__hero">
            <div fxLayout="row">
                <img [src]="getImage(hero)" />
                <h2>{{hero.name}}</h2>
            </div>
            <button class="btn" mat-mini-fab matTooltip="Supprimer de l'équipe" (click)="supprimeHerosEquipe(hero)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>