.equipe__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: #ee171f;
    margin: .5rem;
}

img {
    width: 120px;
}

.list {
    width: 80%;
    margin: auto;
    border: 0.5px solid rgba(0,0,0,.12);
}


.info__hero {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.info__hero h2 {
    margin-left: 15px;
}

.info__hero button {
    align-self: center;
}
