<h1 mat-dialog-title>Créer une nouvelle équipe</h1>
<div mat-dialog-content>
    <p>Pour créer une nouvelle équipe, vous devez supprimer ou sauvegarder l'équipe actuelle. Que voulez-vous faire ?</p>
</div>
<div mat-dialog-actions class="btn-dialog">
    <button mat-button mat-dialog-close="supprimer">Supprimer l'équipe</button>
    <button mat-button mat-dialog-close="sauvegarder">Sauvegarder l'équipe</button>
</div>
